.b2b_container{
	width:1050px;
	height:600px;
	margin:0 auto;
	box-shadow: 0px 0px 10px 2px #ccc;
}
table.image{
	width:1050px;
	height:600px;
}
table.image tr{
	height:150px;
}
table.image tr td{
	width:262px;
	height:150px;
}

table.image tr td img{
	max-height: 120px;
	display:block;
    margin:auto;
    max-width: 135px;

}
table.image1{
    width:1050px;
    height:600px;
}
table.image1 tr{
    height:115px;
}
table.image1 tr td{
    width:262px;
    height:115px;
}
table.image1 tr td img{
    max-height: 100px;
    display:block;
    margin:auto;
    max-width: 105px;

}
.ui-layout-toggler-west .btnCenter	{ background: rgb(244, 228, 228); }
.ui-layout-toggler-west .btnWest	{ background: rgb(244, 228, 228);}
.ui-layout-toggler-west .btnBoth	{ background: white; }
.ui-layout-resizer {
	background: white;
	border: 1px solid black;
}
#controller{
	top: 20px;
	width:1050px;
	height:600px;
	margin:0 auto;
}
#leftSelect, #rightSelect{
width: 135px;
border-radius: 10px;
border: 2px solid;
}
.ui-layout-toggler-west-open{
	background: rgb(105, 105, 105);
}